.movies-card-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: calc((100vw - 48px - 140px)/3*0.7445);
  row-gap: 30px;
  column-gap: 24px;
  justify-content: center;
  margin: 0;
  padding: 70px 0 40px;
  list-style: none;
}

@media screen and (min-width: 1281px) {
  .movies-card-list {
    grid-auto-rows: 271px;
  }
}

@media screen and (max-width: 1024px) {
  .movies-card-list {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: calc((100vw - 30px - 60px)/2*0.761);
    row-gap: 36px;
    column-gap: 30px;
  }
}

@media screen and (max-width: 720px) {
  .movies-card-list {
    grid-auto-rows: calc((100vw - 15px - 60px)/2*0.761);
    row-gap: 18px;
    column-gap: 15px;
  }
}

@media screen and (max-width: 525px) {
  .movies-card-list {
    grid-template-columns: 1fr;
    grid-auto-rows: calc((100vw - 60px)*0.7866);
    row-gap: 32px;
    padding-top: 40px;
  }
}

@media screen and (max-width: 425px) {
  .movies-card-list {
    grid-auto-rows: calc((100vw - 20px)*0.7866);
    row-gap: 16px;
  }
}

.movies-card-list__button {
  width: 100%;
  height: 36px;
  background-color: #F4F4F4;
  display: block;
  margin: 42px auto 8px;
  padding: 0;
  border: none;
  border-radius: 6px;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.25;
  transition: opacity .5s;
}

.movies-card-list__button:hover {
  opacity: .8;
  cursor: pointer;
}
