.main {
  background-color: #DDDEE3;
}

.main__header {
  margin: 0 70px 75px;
}

@media screen and (max-width: 848px) {
  .main__header {
    margin: 0 calc((100vw - 708px)/2) 140px;
  }
}

@media screen and (max-width: 768px) {
  .main__header {
    margin: 0 30px 70px;
  }
}

@media screen and (max-width: 352px) {
  .main__header {
    margin: 0 calc((100vw - 292px)/2) 70px;
  }
}

@media screen and (max-width: 320px) {
  .main__header {
    margin: 0 14px 70px;
  }
}

.main__promo {
  margin: 75px 70px;
}

@media screen and (max-width: 1024px) {
  .main__promo {
    margin: 140px 44px 76px;
  }
}

@media screen and (max-width: 425px) {
  .main__promo {
    margin: 70px 10px 30px;
  }
}