.header {
  height: 74px;
  padding: 0 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 848px) {
  .header {
    padding: 0 calc((100vw - 708px)/2);
  }
}

@media screen and (max-width: 768px) {
  .header {
    padding: 0 30px;
  }
}

@media screen and (max-width: 352px) {
  .header {
    padding: 0 calc((100vw - 292px)/2);
  }
}

@media screen and (max-width: 320px) {
  .header {
    padding: 0 14px;
  }
}

.header_bg-color_grey {
  background-color: #DDDEE3;
}

.header__link {
  transition: opacity .5s;
}

.header__link:hover {
  opacity: .8;
}

.header__logo {
  height: 38px;
  width: 38px;
}