.header {
  height: 74px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__link {
  transition: opacity .5s;
}

.header__link:hover {
  opacity: .8;
}

.header__logo {
  height: 38px;
  width: 38px;
}